@import "tailwindcss";

/* global styles */
html{
    box-sizing: border-box;
}
*{
    box-sizing: border-box;
}
body{
    background-color: #ffc0cb6d;
    margin: 0;
}
/* container styles  */
.container{
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    width: 100%;
}
.song-details-container{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 70%;

    position: relative;
    /* border: 1px solid; */
}
.search-form{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    width: 90%;
    position: sticky;
    /* border: 1px solid ; */
}
.search-input{
    color: black;
    width: 100%;
    padding: 10px;
    /* border-color: #560745; */
    border: 2px solid pink;
    margin: 20px;
    font-size: 1.2em;
    outline: none;
    border-radius: 20px;
}
.search-btn{
    background-color: pink;
    border-radius: 20px;
    padding: 15px 20px;
    margin: 0;
    position: absolute;
    right: 10px;
}
.music-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 10px;
    /* padding: 10px; */
    width: 100%;
}

.music-container::-webkit-scrollbar{

}
.loading-state{
    display: block;
    margin: auto;
}
.song-card{
    width: 350px;
    height: 150px;
    display: flex;

    align-items: center;
    /* justify-content: space-between; */
    box-shadow: 1px 1px 5px #00000050;
    margin: 10px;

    background: linear-gradient(180deg, pink, #8000808f);
    padding: 0 5px;
    gap: 10px;
    border-radius: 50px;
    position: relative;
}
.song-details-card{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    /* gap: 10px; */
}
.song-cover-image{
    width: 40%;
    height: 90%;
    border-radius: 50px;
    /* margin-top: -25px; */
}
.song-title{
    font-weight: bolder;
    font-size: 1.2em;
    width: 80%;
    text-align: center;
}
.song-genre{
    color: grey;
    /* margin-top: 10px; */
}
.song-artist{
    /* margin-top: 20px; */
}
.song-mood{
    font-style: italic;
}
.audio-file{
    color: red;
    width: 90%;
    height: 50px;
    position: sticky;
    bottom: 5px;
}
.show-lyrics-btn{

    cursor: pointer;
    text-align: right;
    border-radius: 50px;
    color: white;
    
}

/* lyrics container */
.lyrics-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: pink;
    width: 30%;
    max-height: 700px;
    border-radius: 50px;
    margin: 0;
}
.lyrics{
    display: block;
    font-size: 20px;
    margin: 10px;
}